extends layout

block content 
    h2 Create Brand
    form(method="post" action='')
        label Name
            input(type='text' required name='name')
        label Description 
            textarea(name='desc')
        input(type='submit')