extends layout
block content 
    h1=brand.name
    if brand.description
        h2 Description 
        p=brand.description 
    ul
    h2 Microwaves
        each microwave in microwave_list 
            li
                a(href=microwave.url) #{microwave.name}
        else 
            li No Microwaves!